<h1><%= pluralize(@events.size,'event')%>:</h1>

<ul>
    <%@events.each do |event|%>
        <article>
        <header>
        <h2><%=link_to(event.name,event)%></h2>
        </header>
        <p><%=truncate(event.description,length: 30, separator: ' ')%></p>
        <table>
        <tr>
        <th>When:</th>
        <td><%=event.start_at%></td>
        </tr>
        <th>Where:</th>
        <td><%=event.location%></td>
        </tr>
        <th>Price:</th>
        <td><%=format_price(event)%></td>
        </tr>
        </table>
        </article>
    <%end%>
</ul>
